{% set title = "Player" %}
{% extends "base.html" %}

{% block content %}

<section>
    <div class="profile-card" style="background-image: url(/static/images/avatars/default.png);">
        <p class="name">{{ player.name }} {{player.created_at.strftime("%m/%Y")}}</p>
    </div>
</section>

<section>
    <div class="card">
        <div class="card-title">
            <h2>Wallet</h2>
        </div>
        <div class="card-subtitle">
            <h5>{{ player.balance }}</h5>
        </div>
        <p>You have <b>{{ player.balance }}</b> Lute Bear Coin!</p>
    </div>
</section>

<section>
    <div class="card">
        <div class="card-title">
            <h2>Backpack</h2>
        </div>
        <div class="card-subtitle">
            <p>You have <b>{{ player.inventory.count_all() }}</b> items in your backpack!</p>
        </div>
        <a class="card-action" href="/player/backpack">
            <h3>Backpack</h3>
        </a>
    </div>
</section>

<section>
    <div class="card">
        <div class="card-title">
            <h2>Skills</h2>
        </div>
        <div class="card-subtitle">
            <p>Earn experience to improve your skills!</p>
        </div>
        {% for key, skill in game.skills.items() %}
        <section>
            <a href="/player/skills/{{ key }}">
                <div class="card skill-card {{ key }}">
                    <h3>{{skill.name}}</h3>
                    <div class="icon end icon skill">
                        <img src="/static/images/skills/icons/{{ key }}.svg">
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar progress-bar-inner" style="width:{{ player.experience.next_level_progress(key)*100 }}%"></div>
                    </div>
                    <p class="start">Level <b>{{ player.experience.level(key) }}</b></p>
                    <p class="center">{{ (player.experience.next_level_progress(key)*100) | int }}%</p>
                    <p class="end">Level <b>{{ player.experience.next_level(key) }}</b></p>
                </div>
            </a>
        </section>
        {% endfor %}
    </div>
</section>

<!-- <section>
    <div class="card">
        <div class="card-title">
            <h2>Skills</h2>
        </div>
        <div class="card-subtitle">
            <p>Discover items to complete your journal!</p>
        </div>
        {% for key, chapter in game.journal.items() %}
        <section>
        <a href="/player/journal/{{ key }}">
            <div class="card skill-card {{ chapter.skill }}">
                <h3>{{key.title()}}</h3>
                <div class="icon end icon skill">
                    <img src="/static/images/skills/icons/{{ chapter.skill }}.svg">
                </div>
                <div class="card-subtitle"></div>
                <h5>{{ player.journal.progress(chapter) }}%</h5>
                <h2 class="end bottom">{{ player.journal.discovered(chapter) }}/{{ player.journal.discoverable(chapter) }}</h2>
            </div>
        </a>
        </section>
        {% endfor %}
    </div>
</section> -->

<section>
    <a class="card-action" href="/player/edit">
        <h3>Edit Profile</h3>
    </a>
</section>

<section>
    <a class="card-action" href="/logout">
        <h3>Logout</h3>
    </a>
</section>

{% endblock %}
