{% set title = "Profile" %}
{% extends "base.html" %}

{% block content %}
<section>
    <div class="card skill-card {{ skill.name.lower() }}">
        <h3>{{skill.name}}</h3>
        <div class="icon"></div>
        <div class="progress-bar">
            <div class="progress-bar progress-bar-inner" style="width:{{ player.experience.next_level_progress(skill) }}%"></div>
        </div>
        <p class="current-level">Level <b>{{ player.experience.level(skill) }}</b></p>
        <p class="progress">{{ player.experience.next_level_progress(skill) }}%</p>
        <p class="next-level">Level <b>{{ player.experience.next_level(skill) }}</b></p>
    </div>
</section>

{% for name, category in skill.items.items() %}
<section>
    <div class="card {{skill.name.lower()}}">

        <div class="card-title">
            <h2>{{ name }}</h2>
        </div>
        <div class="card-subtitle">
            <p>{{ category._description }}</p>
        </div>

        <table>
            <tr>
                <th><h3>Level</h3></th>
                <th></th>
                <th></th>
            </tr>
            {% for item in category['items'] %}
            <tr>
                <td><p><b>{{ item.required_level }}</b></p></td>
                <td><p>{{ item._name() }}</p></td>
                <td>
                    {% if player.journal.discovered(item) %}
                    <img class="card-image" src="/static/item/{{ item.name }}.png">
                    {% else %}
                    <img class="card-image hidden" src="/static/item/{{ item.name }}.png">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</section>
{% endfor %}

{% endblock %}
