{% set title = game.skills[skill].name + ' Skill'%}
{% extends "base.html" %}

{% block content %}

<section>
    <div class="card {{ skill }}">
        <div class="card-title">
            <h2>{{ game.skills[skill].name }}</h2>
        </div>
        <div class="card-subtitle">
            <p>{{ game.skills[skill].description }}</p>
        </div>
        <div class="skill-icon">
            <img src="/static/images/skills/icons/{{ skill }}.svg">
        </div>
        <section>
            <div class="card skill-card {{ skill }}">
                <h3>{{ game.skills[skill].name }}</h3>
                <div class="icon end skill-icon">
                    <img src="/static/images/skills/icons/{{ skill }}.svg">
                </div>
                <div class="progress-bar">
                    <div class="progress-bar progress-bar-inner" style="width:{{ player.experience.next_level_progress(skill)*100 }}%"></div>
                </div>
                <p class="start">Level <b>{{ player.experience.level(skill) }}</b></p>
                <p class="center">{{ (player.experience.next_level_progress(skill)*100) | int }}%</p>
                <p class="end">Level <b>{{ player.experience.next_level(skill) }}</b></p>
            </div>
        </section>
    </div>
</section>

<section>
    <div class="card {{ skill }}">
        <div class="grid-container">
            {% for key,item in game.skills[skill].resources.items() %}
            <div class="grid-item">
                <a href="/item/{{key}}">
                    <div class="card {{ skill }}">
                        <h6>{{ item.name.replace('Raw', '') }}</h6>

                        <div class="card-subtitle"></div>

                        {% if player.journal.discovered_item(item) %}
                            <img src="/static/images/items/{{ key }}.png" class="card-image sprite">
                        {% else %}
                            <img src="/static/images/items/{{ key }}.png" class="card-image hidden">
                        {% endif %}

                        <div class="card-subtitle"></div>

                        <p><b>{{ item.level }}</b> {{ skill.title() }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <a class="card-action" href="/player">
        <h3>Back to Profile</h3>
    </a>
</section>

{% endblock %}
