{% set title = "Home" %}
{% extends "base.html" %}

{% block content %}

{% for location in skill.locations %}
<section>
    <div class="card" style="background-image: url(/static/locations/{{ location.name.replace(' ','') }}.png);">
        <div class="card-title">
            <h2>{{location.name}}</h2>
        </div>
        <div class="card-subtitle">
            <p>{{ location.description }}</p>
        </div>
        <div class="card-body"></div>
        <a class="card-action" href="/skill/{{ skill.name }}">
            <h3>{{ location.name }}</h3>
        </a>
    </card>
</section>
{% endfor %}

{% endblock %}
