{% set title = game.locations[skill][location].name %}
{% extends "base.html" %}

{% block content %}


<form action="/action" method="post">
    <div class="card">
        <h3>Token</h3>

        <input type="string" name="skill" value="fishing" required />
        <input type="string" name="location" value="tributary_river" required />
        
        <input type="string" name="bait" value="earthworms" required />

        <button type="submit">Submit</button>

        <p class="error">{{ error }}</p>
    </div>    
</form>

{% endblock %}
