{% set title = game.locations[skill][location].name %}
{% extends "base.html" %}

{% set key = location %}
{% set location = game.locations[skill][location] %}

{% block content %}

<section>
    <div class="card" style="background-image: url('/static/images/locations/{{ key }}.png');">
        <div class="card-title">
            <h2>{{location.name}}</h2>
        </div>
        <div class="card-subtitle">
            <p>{{ location.description }}</p>
        </div>
        <div class="card-body">
            <div id="item-icon-container" class="item icon" style="display: none;">
                <img id="item-icon" src="/static/images/skills/icons/{{ skill }}.svg">
            </div>
        </div>

        <form action="/action" method="post">
            <input type="string" name="skill" value="{{ skill }}" hidden required />
            <input type="string" name="location" value="{{ key }}" hidden required />
            <input id="submit-param" type="string" name="target" hidden required />
            <button id="submit-button" class="card-action disabled" type="submit" disabled>
                <h3>{{ location.action_disabled_text }}</h3>
            </button>
        </form>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

    </div>
</section>

{% if location.input == 'resources' %}

{% for group_key, group in location.action.resources.items() %}
<section>
    <div class="card">
        <div class="card-title">
            <h2>{{ group_key.title() }}</h2>
        </div>
        
        <div class="card-subtitle"></div>

        <div class="grid-container">
            {% for item_key, item in group.items() %}
            <div class="grid-item">
                <div id="{{ item_key }}" class="card" onclick="item_select('{{ item_key }}')">
                    <h4>{{ item.name }}</h4>
                    <div class="card-subtitle">
                        <img src="/static/images/items/{{ item_key }}.png" class="card-image">
                    </div>

                    {% if item.cost is defined %}
                    <p><b>{{ item.cost }}</b> LBC</p>
                    {% else %}
                    <p><b>{{ item.level }}</b> {{ skill.title() }}</p>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}


{% elif location.input == 'inventory' %}
<section>
    <div class="card">
        <div class="card-title">
            <h2>Inventory</h2>
        </div>

        <div class="card-subtitle">
            <p>{{ location.resource_subtitle }}</p>
        </div>

        <div class="grid-container">
        {% for slot in player.inventory.items(location.resource_filter) %}
            <div class="grid-item">
                <div id="{{ slot.item.name | snake_case }}" name="{{ slot.item.name }}" class="card" onclick="item_select('{{ slot.item.name | snake_case }}')">
                    <img src="/static/images/items/{{ slot.item.name | snake_case }}.png" class="card-image">
                    <h4>{{ slot.item.name }}</h4>
                    <div class="icon">
                        <h4>{{ slot.quantity }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endif %}

<script>
    function item_select(item_id) {
        var submit_button = document.getElementById('submit-button')
        var submit_param = document.getElementById('submit-param')
        var item_icon = document.getElementById('item-icon')
        var item_icon_container = document.getElementById('item-icon-container')

        // Enable Submit Button
        submit_button.classList.remove('disabled')
        submit_button.disabled = false
        submit_button.innerHTML = '<h3>{{ location.action_enabled_text }}</h3>'

        // Set Submit Param
        submit_param.value = item_id

        // Remove selected style from other buttons
        document.querySelectorAll('.card').forEach(
            e => e.classList.remove('selected')
        )

        // Style selected button
        var item = document.getElementById(item_id)
        item.classList.add('selected')

        // Set item icon and reveal container
        // item_icon.src = '/static/images/items/'+item_id+'.png'
        // item_icon_container.style.display = ''
    }
</script>

<section>
    <a class="card-action" href="/player">
        <h3>Back to Profile</h3>
    </a>
</section>

{% endblock %}
