{% set title = "Backpack" %}
{% extends "base.html" %}

{% block content %}

<section>
    <div class="card">
        <div class="card-title">
            <h2>{{ item.name }}</h2>
        </div>

        {% if player.inventory.check(item) %}
        <div class="card-subtitle">
            <p>You have <b>{{ player.inventory.count(item) }}</b> {{ item.name }}!</p>
        </div>
        {% endif %}

        <div class="card-body">
        {% if player.journal.discovered_item(item) %}
            <img src="/static/images/items/{{ item.name | snake_case }}.png">
        {% else %}
            <img src="/static/images/items/{{ item.name | snake_case }}.png" class="hidden">
        {% endif %}
        </div>

        {% if item.skill is defined %}
        <section>
            <a href="/player/skills/{{ item.skill }}">
                <div class="card skill-card {{ item.skill }}">
                    <h3>{{ item.skill.title() }}</h3>
                    <div class="icon end icon skill">
                        <img src="/static/images/skills/icons/{{ item.skill }}.svg">
                    </div>
                    <section></section>
                    <section></section>
                    <section></section>
                    <p class="start">Level <b>{{ item.level }}</b> {{ item.skill.title() }}</p>
                    <p class="end"><b>{{ item.xp }}</b> XP</p>
                </div>
            </a>
        </section>
        {% endif %}

        {% if item.location is defined %}
        <section>
            <a class="card-action" href="/locations/{{ item.skill }}/{{ item.location_key }}">
                <h3>{{ item.location.name }}</h3>
            </a>
        </section>
        {% endif %}
    </div>
</section>

{% if item.bait is defined %}
<section>
    <div class="card">

        <div class="card-title">
            <h2>Bait</h2>
        </div>
        <div class="card-subtitle">
            <p>{{ item.name.replace('Raw', '') }} target these baits.</p>
        </div>

        <div class="grid-container">
        {% for bait in item.bait %}
            <div class="grid-item">
                <a href="/item/{{ bait.name | snake_case }}">
                    <div class="card">
                        <div class="card-mini-subtitle">
                            <img src="/static/images/items/{{ bait.name | snake_case }}.png" class="card-image">
                        </div>
                        <h4>{{ bait.name }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if item.ingredients is defined %}
<section>
    <div class="card">

        <div class="card-title">
            <h2>Ingredients</h2>
        </div>
        <div class="card-subtitle">
            <p>Ingredients for {{ item.name }}.</p>
        </div>

        <div class="grid-container">
        {% for ingredient in item.ingredients %}
            <div class="grid-item">
                <a href="/item/{{ ingredient.name | snake_case }}">
                    <div class="card">
                        <div class="card-mini-subtitle">
                            <img src="/static/images/items/{{ ingredient.name | snake_case }}.png" class="card-image">
                        </div>
                        <h4>{{ ingredient.name }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<section>
    <a class="card-action" href="/player">
        <h3>Back to Profile</h3>
    </a>
</section>

{% endblock %}
