:root {
    --base-color: #F9DBAE;
    /* COMPUTED COLOR */
    --background-color: hsl(from var(--base-color) calc(h + 3) calc(s - 23) calc(l + 6) );
    /* --title-color: hsl(from var(--base-color) calc(h - 35) calc(s - 37) calc(l - 64) ); */
    /* --title-color: hsl(from var(--base-color) calc(h - 35) calc(s - 37) calc(l - 64) ); */
    --title-color: black;
    --card-color: var(--base-color);
    --button-color: hsl(from var(--base-color) calc(h + 2) calc(s - 18) calc(l - 23) );
}

/* LAYOUT */

body {
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    margin: 1em auto;
    width: 315px;
}

section {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

/* GLOBAL DEFAULTS */

img {
    width: 100%;
}

button {
    border: none;
    padding: none;
}

/* TEXT */

h1,h2,h3,h4,h5,h6,p {
    font-family: 'National Park';
    color: var(--title-color);
    margin: 0px;
    line-height: 100%;
    font-weight: bold;
    filter: opacity(70%);
}

h1 {
    font-size: 30px;
    color: #4a1a19;
    filter: none;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 50px;
}

h6 {
    font-size: 10px;
}

p {
    font-size: 14px;
    color:  black;
    font-weight: normal;
}

a {
    text-decoration: none;
    width: 100%;
}

.error {
    color: red;
    margin-top: 1em;
}

/* BANNER */

.banner-title {
    font-weight: bold;
    float: left;
}

.banner-logo {
    width: 36px;
    margin-left: auto;
}
.banner-logo img {
    width: 100%;
}

/* CARD */

.card {
    background-color: var(--card-color);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    position: relative;
    margin: 0px;
    width: -webkit-fill-available;

    border: solid rgba(0,0,0, 0.25);

    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.card .card {
    border-radius: 0.5em;
    padding: 1em;
}

.card-title {

}

.card-subtitle {
    margin: 1em 0px;
}

.card-body {
    width: 100%;
    height: 240px;
}

.card-image {
    max-height: 60px;
    max-width: 100%;
}

.card-action {
    height: 50px;
    width: 100%;
    background-color: var(--button-color);
    border-radius: 0.5em;
    align-content: center;
    display: block;
    text-align: center;
}

input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 32px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    margin: 1em 0px;
    text-align: center;
    text-align-last: center;
    font-family: 'National Park';
}

/* PROFILE CARD */

.profile-card {
    width: 100%;
    height: 190px;
    border-radius: 1em;
    background-color: var(--button-color);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
}
.profile-card p {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.profile-card .name {
    left: 1em;
    bottom: 1.5em
}

/* GRID */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
}

.grid-item {
    width: 100%;
    text-decoration: none;
}

.grid-item .card {
    height: -webkit-fill-available;
    align-content: center;
    height: 100px
}

.grid-item .card .icon {
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    align-content: center;
    padding: 0.25em;
}

/* SKILL CARD */

.skill-icon {
    border-radius: 100%;
    /* width: fit-content; */
    display: inline-flex;
    width: 50%;
    height: 50%;
    aspect-ratio: 1;
    background-color: black;
    mix-blend-mode: soft-light;
}
.skill-icon img {
    scale: 60%;
}

.skill-card {
    position: relative;
    text-align: left;
    height: 80px;
}
.skill-card .start{
    position: absolute;
    left: 1em;
}
.skill-card .center{
    position: absolute;
    left: 0px;
    right: 0px;
    margin-inline: auto;
    width: fit-content;
}
.skill-card .end{
    position: absolute;
    right: 1em;
}
.skill-card .bottom{
    position: absolute;
    bottom: 18px;
}
.skill-card .progress-bar {
    height: 1em;
    width: 100%;
    background-color: white;
    margin: 1.1em 0px;
    border-radius: 1em;
    mix-blend-mode: soft-light;
}
.skill-card .progress-bar .progress-bar-inner {
    background-color: black !important;
    mix-blend-mode: darken;
}
.skill-card .icon {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: black;
    mix-blend-mode: soft-light;
    justify-self: end;
    top: 10px;
}
.hidden {
    filter: contrast(0%) brightness(50%) opacity(0.25);
}    

/* SKILL PROFILE TABLE */

table {
    table-layout: fixed;
}
table td:nth-child(2) {
    width: 40%;
}
table td:nth-child(3) {
    text-align: right;
}

/* SKILL COLORS */
.fishing {
    background-color: lightblue;
}
.gardening {
    background-color: darkseagreen;
}
.cooking {
    background-color: lightsalmon;
}
.crafting {
    background-color: rosybrown;
}
