<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>{{ title }}</title>

    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="manifest" href="/static/manifest.json">
</head>

<body>

    <section>
        <a class="banner-title" href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a class="banner-logo" href="/profile">
            <img src="/static/logo.png">
        </a>
    </section>

{% block content %}
{% endblock %}
</body>
