{% set title = "Home" %}
{% extends "base.html" %}

{% block content %}

{% for key, skill in skills.items() %}
<section>
    <div class="card" style="background-image: url(/static/locations/Tributary\ River.png);">
        <div class="card-title">
            <h2>{{skill.name}}</h2>
        </div>
        <div class="card-subtitle">
            <p>{{ skill.description }}</p>
        </div>
        <div class="card-body"></div>
        <a class="card-action" href="/skill/{{ key }}">
            <h3>{{ skill.name }}</h3>
        </a>
    </card>
</section>
{% endfor %}

{% endblock %}
